{% extends 'base.html' %}

{% block content %}
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Task</th>
                <th>Owner</th>
                <th>Assignee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_objects %}
                <tr>
                    <td>
                        <a href="{% url 'tasks_detail' task.pk %}" title="View {{ task.name }}">
                            {{ task.name }}
                        </a>
                    </td>
                    <td>{{ task.owner.first_name }} {{ task.owner.last_name }}</td>
                    <td>
                        {% if task.assignee %}
                            {{ task.assignee.first_name }} {{ task.assignee.last_name }}
                        {% else %}
                            Unassigned
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}