<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Todoro {% endblock %}</title>
</head>
<body>

    <h1>Todoro</h1>
    <hr>
    <a href="{% url 'tasks_list' %}" title="Home">Home</a>
    |
    {% if user.is_authenticated %}
        <a href="{% url 'tasks_list' %}?filter=owned" title="Created by me">Created by me</a>
        |
        <a href="{% url 'tasks_list' %}?filter=assigned" title="Assigned to me">Assigned to me</a>
        |
        <a href="{% url 'logout' %}" title="Logout">Logout</a>
    {% else %}
        <a href="{% url 'login' %}" title="Login into Todoro">Login</a>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
    <hr>
    Todoro &copy; All rights reserved.

</body>
</html>